.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 300px;
}

.burger-top {
  height: 100px;
  width: 100%;
  /* background-color: rgb(246, 238, 14);
  border-radius: 100px 100px 0 0; */
  margin-bottom: 10px;
}

.burger-bottom {
  height: 100px;
  width: 100%;
  /* background-color: rgb(246, 238, 14);
  border-radius: 0 0 100px 100px; */
  margin-top: 10px;
}

.meat {
  /* height: 100px; */
  width: 100%;
  /* background-color: #9b4805;
  border-radius: 100px; */
  margin: 10px 0;
}

.chees {
  margin-bottom: 10px;
}

.buttons {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: row;
}
button {
  margin: 40px;
}
