body {
  background-image: url("./assets/images/tło.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  overflow: scroll;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  margin-top: 150px;
  width: 300px;
}

.burger-top {
  height: 100px;
  width: 100%;
  margin-bottom: 50px;
  z-index: 101;
  position: relative;
}

.burger-bottom {
  height: 100px;
  width: 100%;
  margin-top: -25px;
  margin-left: 10px;
  position: relative;
  z-index: 100;
}

.meat {
  position: relative;
  width: 100%;
  z-index: 110;
}

.meat:hover {
  cursor: pointer;
}

.tomato {
  position: relative;
  width: 100%;
  z-index: 110;
}
.tomato:hover {
  cursor: pointer;
}

.cheese {
  position: relative;
  width: 100%;
  z-index: 110;
}

.cheese:hover {
  cursor: pointer;
}
.buttons-group {
  position: fixed;
  top: 0;
  z-index: 150;
  margin-top: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  left: 150px;
}
button {
  margin: 20px;
  border-radius: 10rem;
  height: 40px;
  width: 150px;
  background-color: rgb(233, 185, 125);
  color: black;
  font-size: 20px;
  font-weight: 500;
}

button:hover {
  cursor: pointer;
  background-color: black;
  color: rgb(233, 185, 125);
}

.plate {
  margin-left: -55px;
  margin-top: -130px;
  z-index: 10;
  position: relative;
}
